/* 
* Author Name : Rifat Bhuiya
* Author Email : hello.rifatbhuiya@gmail.com
* Project Version : 0.0.0.1
* (Note - This Website Based On 8-PT Padding Margin system!)
*/

:root {
    --primary: #32b14a;
    --secondary: #3c5152;
    --white: #ffffff;
    --white-thin: #f7ffff;
    --black: #000000;
    --primary-black: #0c0e0c;
    --text: #3c5152;
    --gray: #ebecec;
    --gray-black: #8a8a8a;
    --h1: 61px;
    --h2: 48px;
    --h3: 39px;
    --h4: 31px;
    --h5: 25px;
    --h6: 20px;
    --large: 20px;
    --base: 16px;
    --small: 14px;
    --radius-sm: 3px;
    --radius-md: 5px;
    --radius-lg: 25px;
    --radius-round: 50%;
    --transition: all ease 0.5s;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-shantell_sans: 'Shantell Sans', 'cursive';
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

img,
svg {
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
span,
address {
    margin: 0;
    padding: 0;
}

::selection {
    color: var(--white);
    background-color: var(--secondary);
}

::-moz-selection {
    color: var(--white);
    background-color: var(--secondary);
}

body {
    color: var(--text);
    font-size: var(--base);
    font-weight: 400;
    font-family: var(--font-montserrat);
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

.i-flex {
    display: inline-flex;
}

.btn-model {
    padding: 8px 24px;
    border: none;
    color: var(--white-thin);
    font-weight: 600;
    background-color: var(--primary);
    border-radius: var(--radius-md);
    -webkit-border-radius: var(--radius-md);
    -moz-border-radius: var(--radius-md);
    -ms-border-radius: var(--radius-md);
    -o-border-radius: var(--radius-md);
    box-shadow: 0px .5px 5px 0 rgba(0, 0, 0, 0.2);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.btn-model:hover {
    background-color: var(--secondary);
}

.form-label {
    font-weight: 600;
    font-size: var(--base);
    font-family: var(--font-montserrat);
}

.form-check-label {
    font-weight: 500;
    font-size: var(--base);
    font-family: var(--font-montserrat);
}

.form-label span {
    color: var(--primary);
    font-size: var(--large);
}

.form-control::placeholder {
    font-weight: 500;
    font-size: var(--small);
}

.form-check-input {
    border: 1px solid var(--gray-black);
}
/* Common CSS End */

.main-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 12px 0;
    box-shadow: 0px .5px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--white-thin);
}

.main-header .logo {
    font-size: 50px;
    font-weight: 900;
    font-family: var(--font-montserrat);
    color: var(--secondary);
    background-color: var(--white-thin);
    letter-spacing: -12px;
}
/* Main Header CSS End */

.hero-area {
    padding: 88px 0;
}

.hero-area h1 {
    font-weight: 900;
    color: var(--primary);
    font-family: var(--font-shantell_sans);
    margin-bottom: 8px;
}

.hero-area h3 {
    font-weight: 300;
    margin-bottom: 16px;
}

.hero-area p {
    font-weight: 500;
    font-size: var(--large);
    margin-bottom: 20px;
}
/* HeroArea CSS End */

.question-form {
    padding: 80px 0;
    background-color: var(--gray);
}

.form-inner {
    margin-top: 20px;
    padding: 24px 24px;
    background-color: var(--white-thin);
    box-shadow: .5px .5px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: var(--radius-md);
    -webkit-border-radius: var(--radius-md);
    -moz-border-radius: var(--radius-md);
    -ms-border-radius: var(--radius-md);
    -o-border-radius: var(--radius-md);
}

.form-inner .prefer-text {
    font-size: var(--small);
    font-weight: 500;
}

.form-inner .prefer-text .form-check-label {
    font-size: var(--small);
}
/* Question Form CSS End */

footer {
    padding: 20px 0;
    background-color: var(--primary-black);
}

.copyright {
    color: var(--gray-black);
}
/* Question Form CSS End */
